html,body{
    margin: 0px;
    padding: 0px;
} 
body {
    background-color: #000071
}
.nav {
text-align: center;
font-size: 23px;
word-spacing: 25px;
font-family: helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-bottom: 25px;
padding-top: 25px;
background-color: rgb(49, 47, 47);

}

.blog {
background-image: url(The-Starry-Night.jpeg);
height: 100vh;
text-align: center;
font-size: 45px;
background-position: center;
background-size: cover;
padding: 50px;
}
h1{
    padding-top: 250px;
}
a {
 color: white;
 transition: .5s all;
}
a:hover{
    color: black;
}
